
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    height: 10vh;
    padding: 10px;
    text-align: center;
}

section {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #FFF;
    margin: 20px 0;
}

.area {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

.area .item {
    width: 170px;
    height: 29px;
    margin: 1px;
    display: flex;
    color: #FFF;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 13px 7px 21px 7px;
}

.item:hover {
    text-decoration: none;
    background-color: black;
    border: 2px solid gold;
    color: gold;
}

.container {
    flex: 1 0 auto;
}

/* .nav {
    text-decoration: none;
    color: white;
}
.nav:hover {
    color: gold;
} */

footer {
    flex-shrink: 0;
    background-color: black;
    color: white;
    padding: 10px;
    height: 5vh;
    text-align: center;
}